body {
	background: #aaa;
}
html,body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	font-family: arial;
}
#container {
	display: flex;
  	align-items: center;
  	height: 100%;
}
#game {
	/*width: 1024px;*/
	margin: auto;
	display: block;
}
#gamecontainer {
	width: 1200px;
	height: 600px;
	padding: 0;
	border: 5px solid yellow;
	text-align: center;
	margin: auto;
}
#instruction {
	width: 450px;
	height: 480px;
	background: rgba(238, 175, 16, 0.9);
	position: absolute;
	left: 0; 
	right: 0; 
	margin: auto;
	top: 0;
	bottom: 0;
	border: red 10px solid;
	border-radius: 20px;
	
}
#instruction h2 {
	color: #333;
	text-align: center;
}
#instruction #list {
	overflow-y: scroll;
	height: 75%;
	border: 1px solid red;
}
#list ol li {
	font-size: 0.85em;
	text-align: justify;
	padding: 2px;
}
#start {
	display: block;
	margin: 3px auto;
	background: red;
	border: 2px solid #600;
	padding: 5px;
	font-weight: bold;
	border-radius: 10px;
	color: #444;
	background-position: center;
 	transition: background 1.8s;
}
#start:hover {
	/*background: #241D4F;*/
	background: #241D4F radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
#start:active {
	/*background: white;*/
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}
#start:focus {
	outline: none;
}
#ranking {
	width: 450px;
	height: 480px;
	background: rgba(238, 175, 100, 0.9);
	position: absolute;
	left: 0; 
	right: 0; 
	margin: auto;
	border: red 10px solid;
	border-radius: 20px;
	display: none;	
}
#controller {
	width: 150px;
	height: 150px;
	position: relative;
	top: -150px;
	background: rgba(200, 200, 200, 0.3);
	border-radius: 50%;
}
#up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent red transparent;
    margin-top: 10px;
    margin-left: 40px;
    position: absolute;
}
#up:hover {
	border-color: transparent transparent green transparent;
}
#right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 30px;
    border-color: transparent transparent transparent red;
    margin-top: 40px;
    margin-left: 100px;
    position: absolute;
    /*top: 10px;*/
}
#right:hover {
	border-color: transparent transparent transparent green;
}
#down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: red transparent transparent  transparent;
    margin-top: 100px;
    margin-left: 40px;
    position: absolute;
}
#down:hover {
	border-color: green transparent transparent transparent;
}
#left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent red transparent  transparent;
    margin-top: 40px;
    margin-left: 10px;
    position: absolute;
}
#left:hover {
	border-color: transparent green transparent transparent;
}
